@use 'colorVariable.scss';
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
  url('@/fonts/Poppins-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Poppins-semibold";
  src: local("Poppins-semibold"),
  url('@/fonts/Poppins-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: "Poppins-medium";
  src: local("Poppins-medium"),
  url('@/fonts/Poppins-Medium.ttf') format("truetype");
}
$font-family-base: "Poppins", Helvetica, Arial !important;

.f-med{
  font-family:  "Poppins-medium", sans-serif !important;
}
.f-sbold{
  font-family:  "Poppins-semibold", sans-serif !important;
}
.f-bold{
  font-family:  "Poppins-semibold", sans-serif !important;
}
.margin-navbar{
  margin-top: 65px !important;
}

$theme-colors: (
  "primary":colorVariable.$primary,
  "danger": #ff4136,
  "warning":#FEC84B,
  "blur":colorVariable.$blur,
  "secondary":colorVariable.$secondary,
  "greytwo":colorVariable.$greytwo,
  "grey700":colorVariable.$grey700
);
.f-small{
  font-size: 0.5rem !important;
}
.f-smaller{
  font-size: 0.7rem !important;
}
.f-large{
  font-size: 1rem !important;
}
$font-size-base: 0.8rem;
.radius{
  border-radius: 1rem;
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1ac;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:colorVariable.$blur;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(103, 103, 103);
}




@import '../../node_modules/bootstrap/scss/bootstrap';

